<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-10">
  <h1>Who Am I?</h1>
  <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag @logicians.last.drawing.url(:large), class:"img-responsive img-rounded center-block" %>
      </div>
    </div>

    <p><strong>Need a hint?</strong> <%= @logicians.last.hint1 %></p>
    <p><strong>And another?</strong> <%= @logicians.last.hint2 %></p>
    <p><strong>Hint 3:</strong> <%= @logicians.last.hint3 %></p>
 </div>
 <div class="col-sm-1"></div>
</div>

<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-7">
 <%= form_tag("/quiz", method: "get") do %>
   <input id="f_guess" name="f_guess" type="text" placeholder="First name (optional)"/>
   <input id="guess" name="guess" type="text" placeholder="Last name (required)"/>
   <% #TODO  when submit is hit, need to go to jscript and use below logic to display if correct or not and giv eoption for next question (cancel) or stop (quit) %>
   <%= submit_tag("check answer",  :class => "btn btn-warning")  %>
 <% end %>

  <!-- quiz logic is in partial for temp time -->
<button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#checkAnswer">
 check answer
</button>
  </div>
   <div class="col-sm-3 text-right">
      <%= link_to fa_icon("sign-out", text:"exit quiz"), thanks_path, class:"btn btn-warning"%>
  </div>
  <div class="col-sm-1"></div>
</div>

<!-- Modal start -->
<div class="modal fade" id="checkAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <% if params[:guess].titleize.eql?  @logicians.last.last_name %>
        <h4 class="modal-title" id="myModalLabel">Nicely done!</h4>
        <div class="modal-body">
        <p><%= "You are correct. It is #{@logicians.last.first_name} #{@logicians.last.last_name}!" %></p></div>
        <% else %>
        <h4 class="modal-title" id="myModalLabel">Almost, but not quite!</h4>
        <div class="modal-body">
        <p><%="Good guess, but, it's #{@logicians.last.first_name} #{@logicians.last.last_name}." %></p>
        </div>
        <% end %>
      </div>
      <div class="modal-body">
         <%= image_tag @logicians.last.photo.url(:large), class:"img-responsive img-rounded center-block" %>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-warning">back to quiz</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal end -->



