<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
   <% index_for_id = params[:right_answer] %>
    <% if params[:guess].titleize.eql? @logicians.find(index_for_id).last_name %>
      <h1>Nicely done!</h1>
      <div><h4><%= "You are correct. It is #{@logicians.find(index_for_id).first_name} #{@logicians.find(index_for_id).last_name}!" %></h4></div>
    <% else %>
      <h1>Almost, but not quite!</h1>
      <h4><%="Good guess, but, it's #{@logicians.find(index_for_id).first_name} #{@logicians.find(index_for_id).last_name}." %></h4>
    <% end %>

    <div class="panel panel-default">
       <div class="panel-body">
         <%= image_tag @logicians.find(index_for_id).photo.url(:large), class:"img-responsive img-rounded center-block" %>
       </div>
    </div>
      <div>
      <h4>Mini Bio:</h4>
      <p><%= @logicians.find(index_for_id).bio %></p>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  <% if session[:quiz_list].empty? %>
    <% session[:quiz_list] = Logician.ids.shuffle %>
    <div> THANKS FOR PLAYING </div>
     <%= link_to fa_icon("question-circle", text:"play again"), quiz_path, class:"btn btn-warning"%>
    <% else %>
    <div>
      <div class="pull-right">
        <%= link_to fa_icon("sign-out", text:"exit quiz"), thanks_path, class:"btn btn-warning"%>
      </div>
       <%= link_to fa_icon("question-circle", text:"next question"), quiz_path, class:"btn btn-warning"%>
    </div>
  </div>
  <% end %>
  <div class="col-sm-2"></div>
</div>

