<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 well">
  <div style="margin-bottom:10px;"><small><mark>All fields used. Pls fill out everything.</mark></small></div>
<%= simple_form_for(@logician) do |f| %>
 <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :hint, as: :text, label: "Hint" %>
    <%= f.input :drawing, as: :file, label: "Upload a New Drawing" %>
    <% if @logician.drawing.exists? %>
      <%= label_tag "Current Drawing" %>
      <p><%= image_tag @logician.drawing.url(:thumb) %></p>
      <br>
    <% end %>
    <%= f.input :difficulty_level, collection: 1..3 %>
    <%= f.input :bio, as: :text, label: "Bio Text" %>
     <%= f.input :photo, as: :file, label: "Upload a New Bio Photo" %>
    <% if @logician.photo.exists? %>
      <%= label_tag "Current Bio Photo" %>
      <p><%= image_tag @logician.photo.url(:thumb) %></p>
      <br>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-warning" %>
  </div>
<% end %>
</div>
<div class="col-sm-2"></div>
</div>


