<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 well">

<%= simple_form_for(@logician) do |f| %>
 <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :hint1 %>
    <%= f.input :hint2 %>
    <%= f.input :hint3 %>
    <%= f.input :difficulty_level, collection: 1..3 %>
    <%= f.input :bio, as: :text %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-warning" %>
  </div>
<% end %>
</div>
<div class="col-sm-2"></div>
</div>


