<p id="notice"><%= notice %></p>

<h1>Logicians</h1>
<%= link_to fa_icon('plus', text: "Add New Logician"), new_logician_path, class:"btn btn-warning pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Hint 1</th>
      <th>Hint 2</th>
      <th>Hint 3</th>
      <th>Level</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logicians.each do |logician| %>
      <tr>
        <td><%= logician.first_name %></td>
        <td><%= logician.last_name %></td>
        <td><%= logician.hint1 %></td>
        <td><%= logician.hint2 %></td>
        <td><%= logician.hint3 %></td>
        <td><%= logician.difficulty_level %></td>
        <td><%= logician.bio %></td>
        <td><%= link_to fa_icon('eye', text: "view"), logician %></td>
        <td><%= link_to fa_icon('pencil', text:"edit"), edit_logician_path(logician) %></td>
        <td><%= link_to fa_icon('trash', text: "delete"), logician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
