
<div class="container">
 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 text-right">
   <%= link_to fa_icon("home", text:"home"), root_path, class:"btn btn-default"%>
   <%= link_to fa_icon("file", text:"quiz"), quiz_path, class:"btn btn-default" %>
   <%= link_to fa_icon("check-circle", text:"result"), result_path, class:"btn btn-default" %>
   <%= link_to fa_icon("comment", text:"thanks"), thanks_path, class:"btn btn-default" %>
    <%= link_to fa_icon("book", text:"admin"), logicians_path, class:"btn btn-info" %>
  </div>
  <div class="col-sm-1"></div>
 </div>
</div>